<h2>Contact List</h2>

<h4>Add an item to the list:</h4>



<form action="/" method="post">
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input id="first_name" name="first_name" class="form-control" type="text">
    <label for="last_name">Last Name:</label>
    <input id="last_name" name="last_name" class="form-control" type="text">
    <label for="job_title">Job Title:</label>
    <input id="job_title" name="job_title" class="form-control" type="text">
    <label for="company">Company Name:</label>
    <input id="company" name="company" class="form-control" type="text">
    <label for="contact_type">Contact Type:</label>
    <input id="contact_type" name="contact_type" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add Contact:</button>
</form>
